@model ShopOnConnection.SanPham
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Thông tin Sản phẩm</h2>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="single-sidebar">
                    <h2 class="sidebar-title">Tìm kiếm Sản phẩm</h2>
                    <form action="">
                        <input type="text" placeholder="Sản phẩm cần tìm...">
                        <input type="submit" value="Tìm kiếm">
                    </form>
                </div>

                <div class="single-sidebar">
                    <h2 class="sidebar-title">Sản phẩm</h2>
                    <div class="thubmnail-recent">
                        <img src="~/Asset/img/1.png" class="recent-thumb" alt="">
                        <h2><a href="">IPhone 12 Pro Max 256GB</a></h2>
                        <div class="product-sidebar-price">
                            <ins>32.990.000 VNĐ</ins> <del>35.990.000 VNĐ</del>
                        </div>
                    </div>
                    <div class="thubmnail-recent">
                        <img src="~/Asset/img/8.png" class="recent-thumb" alt="">
                        <h2><a href="">Oppo Find X3 Pro 5G</a></h2>
                        <div class="product-sidebar-price">
                            <ins>26.990.000 VNĐ</ins> <del>28.990.000 VNĐ</del>
                        </div>
                    </div>
                    <div class="thubmnail-recent">
                        <img src="~/Asset/img/11.png" class="recent-thumb" alt="">
                        <h2><a href="">Xiaomi Mi 11 5G</a></h2>
                        <div class="product-sidebar-price">
                            <ins>20.990.000 VNĐ</ins> <del>22.990.000 VNĐ</del>
                        </div>
                    </div>
                    <div class="thubmnail-recent">
                        <img src="~/Asset/img/6.png" class="recent-thumb" alt="">
                        <h2><a href="">Samsung Galaxy Z Fold2 5G</a></h2>
                        <div class="product-sidebar-price">
                            <ins>50.000.000 VNĐ</ins> <del>52.000.000 VNĐ</del>
                        </div>
                    </div>
                </div>

                <div class="single-sidebar">
                    <h2 class="sidebar-title">Android</h2>
                    <ul>
                        <li><a href="">Vsmart Live 4 6GB</a></li>
                        <li><a href="">Samsung Galaxy A02</a></li>
                        <li><a href="">Vivo Y1s</a></li>
                        <li><a href="">Xiaomi 6i</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-8">
                <div class="product-content-right">
                    <div class="product-breadcroumb">
                        <a href="@Url.Action("Index")">Products</a>
                        <a href="">@Model.TenSanPham</a>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="product-images">
                                <div class="product-main-img">
                                    <img src="~/Asset/img/@Model.HinhChinh" alt="">
                                </div>

                                <div class="product-gallery">
                                    <img src="~/Asset/img/@Model.Hinh1" alt="">
                                    @*<img src="~/Asset/img/IPhone 12 Pro Max 256GB/2.png" alt="">
                                        <img src="~/Asset/img/IPhone 12 Pro Max 256GB/3.png" alt="">*@
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="product-inner">
                                <h2 class="product-name">@Model.TenSanPham</h2>
                                <div class="product-inner-price">
                                    <ins>@Model.Gia</ins> @*<del>$100.00</del>*@
                                </div>

                                <form action="" class="cart">
                                    <div class="quantity">
                                        <input type="number" size="4" class="input-text qty text" title="Qty" value="1" name="quantity" min="1" step="1">
                                    </div>
                                    <button class="add_to_cart_button" type="submit">Thêm vào giỏ hàng</button>
                                </form>

                                <div class="product-inner-category">
                                    <p>Loại sản phẩm: <a href="">@Model.MaNhaSanXuat</a>. @*Tags: <a href="">awesome</a>, <a href="">best</a>, <a href="">sale</a>, <a href="">shoes</a>.*@ </p>
                                </div>

                                <div role="tabpanel">
                                    <ul class="product-tab" role="tablist">
                                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Mô tả Sản phẩm</a></li>
                                        @*<li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Reviews</a></li>*@
                                    </ul>
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane fade in active" id="home">
                                            <h2>Giới thiệu Sản phẩm</h2>
                                            <a href="">@Model.CauHinh</a>
                                            @*<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tristique, diam in consequat iaculis, est purus iaculis mauris, imperdiet facilisis ante ligula at nulla. Quisque volutpat nulla risus, id maximus ex aliquet ut. Suspendisse potenti. Nulla varius lectus id turpis dignissim porta. Quisque magna arcu, blandit quis felis vehicula, feugiat gravida diam. Nullam nec turpis ligula. Aliquam quis blandit elit, ac sodales nisl. Aliquam eget dolor eget elit malesuada aliquet. In varius lorem lorem, semper bibendum lectus lobortis ac.</p>

                                                    <p>Mauris placerat vitae lorem gravida viverra. Mauris in fringilla ex. Nulla facilisi. Etiam scelerisque tincidunt quam facilisis lobortis. In malesuada pulvinar neque a consectetur. Nunc aliquam gravida purus, non malesuada sem accumsan in. Morbi vel sodales libero.</p>
                                                </div>*@
                                            <div role="tabpanel" class="tab-pane fade" id="profile">
                                                <h2>Reviews</h2>
                                                <div class="submit-review">
                                                    <p><label for="name">Name</label> <input name="name" type="text"></p>
                                                    <p><label for="email">Email</label> <input name="email" type="email"></p>
                                                    <div class="rating-chooser">
                                                        <p>Đánh giá</p>

                                                        <div class="rating-wrap-post">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                        </div>
                                                    </div>
                                                    <p><label for="review">Your review</label> <textarea name="review" id="" cols="30" rows="10"></textarea></p>
                                                    <p><input type="submit" value="Submit"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>


                        <div class="related-products-wrapper">
                            <h2 class="related-products-title">Sản phẩm tương tự</h2>
                            <div class="related-products-carousel">
                                @*@foreach (var item in Model)
                                    {*@
                                <div class="single-product">
                                    <div class="product-f-image">
                                        <img src="~/Asset/img/@Model.HinhChinh" alt="">
                                        <div class="product-hover">
                                            <a href="" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Giỏ hàng</a>
                                            <a href="" class="view-details-link"><i class="fa fa-link"></i> Thông tin</a>
                                        </div>
                                    </div>

                                    <h2><a href="">@Model.TenSanPham</a></h2>

                                    <div class="product-carousel-price">
                                        <ins>@Model.Gia</ins> @*<del>$100.00</del>*@
                                    </div>
                                </div>
                                @*}*@
                                @*<div class="single-product">
                                        <div class="product-f-image">
                                            <img src="~/Asset/img/product-2.jpg" alt="">
                                            <div class="product-hover">
                                                <a href="" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                                <a href="" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                            </div>
                                        </div>

                                        <h2><a href="">Apple new mac book 2015 March :P</a></h2>
                                        <div class="product-carousel-price">
                                            <ins>$899.00</ins> <del>$999.00</del>
                                        </div>
                                    </div>
                                    <div class="single-product">
                                        <div class="product-f-image">
                                            <img src="~/Asset/img/product-3.jpg" alt="">
                                            <div class="product-hover">
                                                <a href="" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                                <a href="" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                            </div>
                                        </div>

                                        <h2><a href="">Apple new i phone 6</a></h2>

                                        <div class="product-carousel-price">
                                            <ins>$400.00</ins> <del>$425.00</del>
                                        </div>
                                    </div>
                                    <div class="single-product">
                                        <div class="product-f-image">
                                            <img src="~/Asset/img/product-4.jpg" alt="">
                                            <div class="product-hover">
                                                <a href="" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                                <a href="" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                            </div>
                                        </div>

                                        <h2><a href="">Sony playstation microsoft</a></h2>

                                        <div class="product-carousel-price">
                                            <ins>$200.00</ins> <del>$225.00</del>
                                        </div>
                                    </div>
                                    <div class="single-product">
                                        <div class="product-f-image">
                                            <img src="~/Asset/img/product-5.jpg" alt="">
                                            <div class="product-hover">
                                                <a href="" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                                <a href="" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                            </div>
                                        </div>

                                        <h2><a href="">Sony Smart Air Condtion</a></h2>

                                        <div class="product-carousel-price">
                                            <ins>$1200.00</ins> <del>$1355.00</del>
                                        </div>
                                    </div>
                                    <div class="single-product">
                                        <div class="product-f-image">
                                            <img src="~/Asset/img/product-6.jpg" alt="">
                                            <div class="product-hover">
                                                <a href="" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                                <a href="" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                            </div>
                                        </div>

                                        <h2><a href="">Samsung gallaxy note 4</a></h2>

                                        <div class="product-carousel-price">
                                            <ins>$400.00</ins>
                                        </div>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




