
@model IEnumerable<ShopOnConnection.SanPham>

<div class="col-md-4">
    <div class="single-product-widget">
        <h2 class="product-wid-title">Sản phẩm Hot</h2>
        <a href="@Url.Action("Index", "Shop")" class="wid-view-more">Xem ngay</a>
        @foreach (var item in Model)
        {
            <div class="single-wid-product">
                <a href="@Url.Action("Details", "Shop", new { id = item.MaSanPham })"><img src="~/Asset/img/@item.HinhChinh" alt="" class="product-thumb"></a>
                <h2><a href="@Url.Action("Details", "Shop", new { id = item.MaSanPham })">@item.TenSanPham</a></h2>
                <div class="product-wid-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <div class="product-wid-price">
                    <ins>@item.Gia VNĐ</ins> @*<del>35.990.000 VNĐ</del>*@
                </div>
            </div>
        }
    </div>
</div>